server/templates/zelco/server/datafiles/bootstrap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ADMIN">
		<xs:complexType>
			<xs:attribute name="IP" type="xs:string" use="required"/>
			<xs:attribute name="PORT" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="BOOTSTRAP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SERVER"/>
				<xs:element ref="ADMIN"/>
				<xs:element ref="CONFIG_FILE"/>
				<xs:element ref="GUI"/>
				<xs:element ref="DEBUG"/>
				<xs:element ref="RRDGRAPH"/>
				<xs:element ref="RRDBDIRECTORY"/>
				<xs:element ref="RRDXMLDIRECTORY"/>
			</xs:sequence>
			<xs:attribute name="lastUpdated" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="CONFIG_FILE">
		<xs:complexType>
			<xs:attribute name="NAME" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="DEBUG">
		<xs:complexType>
			<xs:attribute name="LEVEL" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALL"/>
						<xs:enumeration value="FINER"/>
						<xs:enumeration value="FINEST"/>
						<xs:enumeration value="FINE"/>
						<xs:enumeration value="INFO"/>
						<xs:enumeration value="SEVERE"/>
						<xs:enumeration value="WARNING"/>
						<xs:enumeration value="NONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FILE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CONSOLE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LOGDIR" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="GUI">
		<xs:complexType>
			<xs:attribute name="DISPLAY" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RRDBDIRECTORY">
		<xs:complexType>
			<xs:attribute name="DIR" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RRDGRAPH">
		<xs:complexType>
			<xs:attribute name="DIR"  type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RRDXMLDIRECTORY">
	<xs:complexType>
		<xs:attribute name="DIR"  type="xs:string" use="required" />
	</xs:complexType>
	</xs:element>
	<xs:element name="SERVER">
		<xs:complexType>
			<xs:attribute name="IP" type="xs:string" use="required"/>
			<xs:attribute name="PORT" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>
