server/templates/server/config/eLife_Config_Schema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT ALARM EMPTY>
<!ATTLIST ALARM
	KEY CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT ALERT EMPTY>
<!ATTLIST ALERT
	ACTIVE (Y | N) #IMPLIED
	KEY CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	MESSAGE CDATA #REQUIRED
	ALERT_TYPE CDATA #IMPLIED
	CLIENT_CAT CDATA #IMPLIED
>
<!ELEMENT ANALOGUE EMPTY>
<!ATTLIST ANALOGUE
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT AUDIO EMPTY>
<!ATTLIST AUDIO
	KEY CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT CATALOGUE (ITEM+)>
<!ATTLIST CATALOGUE
	NAME CDATA #REQUIRED
>
<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
	VALUE CDATA #REQUIRED
	CODE CDATA #REQUIRED
>
<!ELEMENT CBUS (LIGHT_CBUS+)>
<!ELEMENT COMFORT (CUSTOM_INPUT | RAW_INTERFACE | COUNTER | TOGGLE_OUTPUT_MONITOR | LIGHT_CBUS | LIGHT_X10 | PULSE_OUTPUT | TOGGLE_OUTPUT | ALARM | ALERT | ANALOGUE | TOGGLE_INPUT)+>
<!ELEMENT CONFIG (#PCDATA | DESC | JROBIN | DEVICE | CONTROLS)*>
<!ATTLIST CONFIG
	lastUpdated NMTOKEN #IMPLIED
>
<!ELEMENT CONNECTION (SERIAL*, IP*)>
<!ELEMENT COUNTER EMPTY>
<!ATTLIST COUNTER
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	MAX CDATA #IMPLIED
>
<!ELEMENT CUSTOM_INPUT EMPTY>
<!ATTLIST CUSTOM_INPUT
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	COMMAND CDATA #REQUIRED
	KEY_IS_REGEX (Y | N) #IMPLIED
	EXTRA CDATA #IMPLIED
>
<!ELEMENT DATA EMPTY>
<!ATTLIST DATA
	DATASOURCE CDATA #REQUIRED
        DISPLAY_NAME CDATA #REQUIRED
        VARIABLE_NAME CDATA #REQUIRED
        FUNCTION (TOTAL | AVG | MIN | MAX) #REQUIRED
>
<!ELEMENT DESC (#PCDATA)>
<!ELEMENT DEVICE (CONNECTION, CATALOGUE*, PARAMETERS?, SPEC)>
<!ATTLIST DEVICE
	ACTIVE (N | Y) #IMPLIED
	NAME (CBUS | COMFORT | GC100 | HAL | IR_LEARNER | RAW_CONNECTION | TUTONDO) #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	PASSWORD CDATA #IMPLIED
>
<!ELEMENT CONTROLS (VARIABLES)>
<!ELEMENT VARIABLES (VARIABLE)*>
<!ELEMENT VARIABLE EMPTY>
<!ATTLIST VARIABLE
	ACTIVE (Y | N) #IMPLIED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT GC100_IR (PARAMETERS, TOGGLE_INPUT+, IR)>
<!ATTLIST GC100_IR
	NAME CDATA #REQUIRED
>
<!ELEMENT GC100_Relay (PARAMETERS, TOGGLE_OUTPUT+)>
<!ATTLIST GC100_Relay
	NAME CDATA #REQUIRED
>
<!ELEMENT HAL (AUDIO+)>
<!ELEMENT IP EMPTY>
<!ATTLIST IP
	ACTIVE (N | Y) #IMPLIED
	IP_ADDRESS CDATA #REQUIRED
	PORT NMTOKEN #REQUIRED
>
<!ELEMENT IR EMPTY>
<!ATTLIST IR
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	AV_NAME (COMFORT) #REQUIRED
>
<!ELEMENT IR_LEARNER (#PCDATA)>
<!ELEMENT JROBIN (DATA+)>
<!ATTLIST JROBIN
        ACTIVE (N | Y) #IMPLIED
	INTERVAL NMTOKEN #REQUIRED
	RRD CDATA #REQUIRED
>
<!ELEMENT LIGHT_CBUS EMPTY>
<!ATTLIST LIGHT_CBUS
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	CBUS_APPLICATION NMTOKEN "48"
>
<!ELEMENT LIGHT_X10 EMPTY>
<!ATTLIST LIGHT_X10
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
	X10HOUSE_CODE CDATA #REQUIRED
>
<!ELEMENT PARAMETERS (#PCDATA | ITEM)*>
<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
	NAME CDATA #REQUIRED
	VALUE CDATA #REQUIRED
>
<!ELEMENT PULSE_OUTPUT EMPTY>
<!ATTLIST PULSE_OUTPUT
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT RAW (VARS*)>
<!ATTLIST RAW
	COMMAND CDATA #REQUIRED
	CODE CDATA #REQUIRED
	EXTRA NMTOKEN #IMPLIED
>
<!ELEMENT RAW_CONNECTION (CUSTOM_INPUT | RAW_INTERFACE | RAW_ITEMS)+>
<!ELEMENT RAW_INTERFACE (CUSTOM_INPUT | RAW_ITEMS)+>
<!ATTLIST RAW_INTERFACE
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT RAW_ITEMS (RAW+)>
<!ATTLIST RAW_ITEMS
	CATALOGUE CDATA #REQUIRED
	PREFIX CDATA #IMPLIED
>
<!ELEMENT SERIAL EMPTY>
<!ATTLIST SERIAL
	ACTIVE (N | Y) #IMPLIED
	PORT CDATA #REQUIRED
	BAUD NMTOKEN #REQUIRED
	STOP_BITS (1 | 0 | 2) #REQUIRED
	PARITY CDATA #REQUIRED
	DATA_BITS (8 | 7) #REQUIRED
	FLOW (NONE | RTSCTS) #REQUIRED
>
<!ELEMENT SPEC (IR_LEARNER?, TUTONDO?, HAL?, CBUS?, RAW_CONNECTION?, COMFORT?, GC100_IR?, GC100_Relay?)>
<!ELEMENT TOGGLE_INPUT EMPTY>
<!ATTLIST TOGGLE_INPUT
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT TOGGLE_OUTPUT EMPTY>
<!ATTLIST TOGGLE_OUTPUT
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT TOGGLE_OUTPUT_MONITOR EMPTY>
<!ATTLIST TOGGLE_OUTPUT_MONITOR
	ACTIVE (N | Y) #IMPLIED
	KEY CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DISPLAY_NAME CDATA #REQUIRED
>
<!ELEMENT TUTONDO (AUDIO+)>
<!ELEMENT VARS EMPTY>
<!ATTLIST VARS
	NAME CDATA #REQUIRED
	VALUE CDATA #REQUIRED
>
